@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&family=Rye&display=swap');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply overflow-x-hidden;
  }
}

.phone-skew {
  transform: perspective(400px) rotateY(3deg) skewX(11.1deg) skewY(-10.9deg);
}

.grainy-light {
  @apply backdrop-blur-lg bg-blue-200/20 border border-blue-200/30;
}

.glassmorphism {
  @apply backdrop-blur-lg bg-blue-200/20 border border-blue-200/30;
}

/* Darker variation of grainy effect */
.grainy-dark {
  @apply backdrop-blur-lg bg-blue-200/30 border border-blue-200/40;
}

.text-gradient {
  color: #fff;
  text-transform: capitalize;
  background: linear-gradient(-90deg, #93c5fd, #f9a8d4);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
}


.gradient-ring {
  position: relative; /* Needed for positioning the pseudo-element */
}

.gradient-ring:focus::after,
.gradient-ring:focus-within::after {
  content: ""; /* Required for the pseudo-element */
  position: absolute; /* Absolute positioning */
  top: -2px; /* Adjust to control thickness */
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to top right, hsl(322, 76%, 83%), hsl(209, 100%, 60%)); /* Example gradient */
  border-radius: inherit; /* Inherit the border radius */
  z-index: -1; /* Ensure it stays behind the content */
  pointer-events: none; /* Ensure the input is still interactive */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: 'JI-Chunky-Caps';
  src: url('/fonts/JI-Chunky-Caps.ttf.woff') format('woff'),
       url('/fonts/JI-Chunky-Caps.ttf.svg#JI-Chunky-Caps') format('svg'),
       url('/fonts/JI-Chunky-Caps.ttf.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'The-Season';
  src: url('https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.eot');
  src: url('https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/9366bd460113d8bf675fd2bdfe1ce764.svg#The Seasons') format('svg');
}

@font-face {
  font-family: 'The-Season2';
  src: url('/fonts/theseasons-ltit.woff') format('woff'),
       url('/fonts/theseasons-ltit.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
